
#bus-net{
  height: 300px;
  margin: 50px 0;

  .react-multiple-carousel__arrow--left{
    position: absolute;
    left: 0px;
    z-index: 1000 !important;
    overflow: visible;
    opacity: 1;


  }
  .react-multiple-carousel__arrow--right{
    right:0 !important;

  }
}

@media only screen and (max-width: 400px) {
  #bus-net{
    display: none;
  }
}

