
#nav-tab{
  height: 400px;
  background: #fafafa;

  #myTabContent{
    background: #ffffff;
    border-radius: 1px;
    padding: 10px;
    height: 300px;
    a{
      color:  #8E8E8E !important;
    }
    .nav-link{
      border-radius: 0!important;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      color: #8E8E8E;
      font-weight: 700;
    }
    .routes-list{
      margin: 15px 20px;

      li{
        margin: 20px 20px;
        list-style: none;
        span{
          margin-left: 10px;
          font-size: 16px;
        }
        #departDate {
          background-size: 14px 18px;
          padding-left: 35px!important;
          width: 200px;
          border: none;
          height: 45px;
          border-radius: 3px;
          background: #fafafa url(https://storage.googleapis.com/fe-production/images/header/calendar.svg) no-repeat 10px 14px;
          margin-left: 30px;
          width: 150px;
        }
      }
    }
  }
}



@media only screen and (max-width: 400px) {
    #nav-tab{
      display: none;
    }
}
