/*Start pageContent*/
.pageContent{
  min-height: 620px;
  position: relative;
  top:0;
  z-index: 1;
  transition: top .4s ease-in-out;
  .SearchPage__FrontDoor{
    .base-front-door{
      z-index: 10;
      margin: 0 auto;
      .coverPhotoContainer{
        min-height: 33.3333em;
        width: 100%;
        position: relative;
        .Common-Frontdoor-CoverPhoto{
            min-height: 620px;
            position: relative;
            height: auto;
            overflow: hidden;
            background: #8596a3;

        }
        .challenger-cover-photo{
            top:0px;
            width: 100%;
            color: #fff;
            .background-wrapper{
              .coverBackground{
                background-image:
                        url("https://www.baolau.com/images/landing/bus-ha-giang.jpg");
                height: 620px;
                position: relative;
                background-size: cover;
                background-position: center;
                opacity: 1;
                transition: opacity 2s ease,height .15s ease;

                .primary-content{
                  display: table-cell;
                  height: 100%;
                  width: 170.124em ;
                    .title-section{
                      margin-top: 40px;
                      height: auto;
                      margin-bottom: 30px;
                        .section-container{
                          position: relative;
                          height: 100%;
                          display: flex;
                          align-items: center;
                          flex-wrap: wrap;
                          margin: 0 auto !important;
                          padding: 0 2em;
                            .title{
                              width: 100%;
                              margin: 0;
                              text-align: center;
                              font-family: "mallory",Helvetica Neue,Helvetica,Arial,sans-serif;
                              font-weight: 600;
                            }
                          .subTitle{
                            position: relative;
                            width: 100%;
                            margin-top: 10px;
                            text-align: center;
                            font-weight: 500;
                            font-size: 21px;
                            margin-bottom: 0;

                          }
                        }
                    }
                    .form-section{
                        margin-top: 30px;
                        .form-container{
                          max-width: 65em;
                          margin: 0 auto;
                          min-height: 50px;
                          padding:0 2em ;

                          .base-form-search{
                            min-height: 170px;
                            padding-top: 15px;
                            padding-left: 17px;
                            padding-right: 17px;
                            background: rgba(255,255,255,0.8);
                              .form-header{
                                display: flex;
                                flex-wrap: wrap;
                                letter-spacing: -0.28571428571429em;
                                font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
                                text-rendering: optimizespeed;
                                .displayBlock{
                                  display: inline-block;

                                    .button-radio{
                                      line-height: inherit;
                                      height: 1.9rem;
                                      padding: 0 9px;
                                      margin: 0 2px 0 3px;
                                      border-radius: 4px;
                                      background-color: #a0afba;
                                      border: none;
                                      font-family: "mallory",Helvetica Neue,Helvetica,Arial,sans-serif;
                                      font-weight: 600;
                                      letter-spacing: .03em;
                                      font-size: inherit;
                                        &:hover{
                                          background: #333F48;
                                          color:#fff;
                                        }
                                    }

                                }
                              }
                              .col-fields{
                                width: 100%;
                                display: inline-block;
                                margin-top: 10px;
                                padding: 0 5px;
                                #switch-btn{
                                  background: #fff;
                                  border: none;
                                  height: 45px;
                                  padding: 0 15px;
                                }
                                  .col-field{
                                    margin: 0 4px;
                                    height: 45px;
                                    padding: 0 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 3px;
                                    box-shadow: none;
                                    font-family: "mallory",Helvetica Neue,Helvetica,Arial,sans-serif;
                                    font-weight: 600;
                                    color: #8596a3;
                                      &:focus{
                                        border-color: #488BF8;
                                      }
                                  }
                                  .button-submit{
                                    border: none;
                                    background: #488bf8;
                                    color: #fff;
                                    cursor: pointer;
                                    border-radius: 3px;
                                    margin: 0 5px;
                                  }
                              }
                          }
                        }
                    }
                }
              }
            }
        }
      }
    }
  }

}
.smartboxS{
  display: inline-block;

  position: absolute;
  width: auto;
  top: 315px;
  left: 530px;
  z-index: 10000;
  margin: 5px 0 0;
  background-color: #fff;
  box-shadow: 0 3px 12px 1px rgba(0,0,0,0.26);

  .list-box{
      margin: 0;
      padding: 5px 0;
      list-style: none;
      display: block;
      font-size: 16px;
    height: 300px;
    overflow: scroll;

    li{
        cursor: pointer;
        background-repeat: no-repeat;
        padding: 10px 24px 10px 30px;
        span{
          margin:0 20px;
        }
          &:hover{
            background: #488BF8;
            color: #fff;
          }
      }
  }
}
.smartboxE{
  position: absolute;
  width: auto;
  top: 315px;
  left: 800px;
  font-size: 16px;
  margin: 5px 0 0;
  z-index: 10000;
  background-color: #fff;
  box-shadow: 0 3px 12px 1px rgba(0,0,0,0.26);
  .list-box{
    margin: 0;
    padding: 5px 0;
    list-style: none;
    display: block;
    font-size: 16px;
    height: 300px;
    overflow: scroll;
    li{

      background-repeat: no-repeat;
      padding: 10px 24px 10px 30px;
      cursor: pointer;
      span{
        margin:0 20px;
      }
      &:hover{
        background: #488BF8;
        color: #fff;

      }
    }
  }
}
*{
  overflow: visible;
}
.keel-agd{
  font-family: "mallory",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.231;
  color: #212a30;
}
.active-button-radio{
  background: #333F48 !important;
  color:#fff;
}
.keel-grid{
  display: flex;
  flex-wrap: wrap;
}
div{
  display: block;
}
@media (min-width: 72.5em){
    .form-container{
      background: transparent;
    }
}
@media (min-width: 64em){
  .button-submit {
    height: 45px;
    font-size: 16px;
    width: 150px;
  }

}
