html,*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Start header*/

#header{
    width: 100%;
    height:100px ;
    background: #ffffff;
    .container{
      width: 1170px;
      height: 100px;

    }
    .header-logo{
      width: 100px;
      margin:10px;
      img{
        width: 80px;
        height: 80px;
      }
    }
    .header-nav{
      width: 100%;
      margin: 30px 0;

      .nav-menu{
        display: inline-flex;
        list-style: none;
        li{
          margin: 0 20px;
          a{
            color: #38B7F9;
          }
        }
      }

    }
  .header-user{
    margin: 25px 0;
    float: right;
    #dropdown-list-user{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #C5C5C5;
      text-align: center;
      padding-top: 10px;
      a{
        cursor: pointer;
      }
      .fas{
        font-size: 30px;
        color: #ffffff;

      }
    }
  }

}

@media only screen and (max-width: 768px) {
  *{
    overflow: hidden;
  }

  .logo{
    float: right;
    width: 80px;
    margin: auto 0;
  }
}


