
#main{
  margin-bottom: 120px;
  background: #fafafa !important;
}
.carousel{
  background-image: url("https://www.baolau.com/images/landing/bus-ha-giang.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;

}
.react-datepicker-popper{
  overflow: visible !important;
}
.react-datepicker__navigation {

  border-radius: 3px;
  background:none !important;
  margin-right: 10px;
}
.search-box{
  position: absolute;
  bottom: 10%;
  width: 63%;
  left: 20%;
  background: #f8c13b;
  height: 100px;
  border-radius: 3px;
  z-index: 1;
    .search-content{
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    .btn-day{
      display: none;
    }
    .date{
      width: 200px;
      display: inline-block;
      margin: 0 20px;
      .react-datepicker-wrapper{
        display: block;
      }
      .react-datepicker__input-container {
         position: relative;
         display: block;
       }

    }
    .location{
      display: inline-block;

      top:10px;
    }
    #departDate {
      background-repeat: no-repeat;
      background-image: url(https://storage.googleapis.com/fe-production/images/header/calendar.svg);
      background-size: 14px 18px;
      background-position: 10px 14px;
      padding-left: 35px!important;
      width: 200px;
    }
    #ip-start,#ip-end{

      background-repeat: no-repeat;
      background-image: url(https://storage.googleapis.com/fe-production/images/header/location.svg);
      background-size: 14px 18px;
      background-position: 10px 14px;
      padding-left: 35px!important;
      &:focus{
        border-radius: 5px;
       // border: 2px solid #fb0;

      }
    }
    input{
      width: 320px;
      border: none;
      height: 45px;
      border-radius: 3px;

      &:focus{
        border: none;
        border-radius: 10px;
      }
    }
    #switch-btn{
      margin-left: 10px;
      width: 45px;
      border: none;
      height: 45px;
      border-radius: 3px;
      background: #fff;
      margin-right:10px ;
    }
    #searchSubmit{
      height: 48px;
      background-color: #3a9cfb;
      border-radius: 4pt!important;
      width:200px;
      color: #fff;
      font-weight: 700;
    }
  }
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  input{
      height: 46px;
  }
  #header{
    .header-nav{
      display: none;
    }

  }
  .carousel{
     height: 500px;


  }
  .search-box{
    width: 100%;
    left: 0;
    height: 500px;
    top: 100px;
    margin-bottom: 100px;

    .search-content{
      .date{
        margin:0;
        width: 100%;
        display: inline-flex;
        .btn-day{
          display: block;
          height: 46px;
          border-radius: 4px!important;
          border: 0;
          color: #333;
          background-color: #fff;
          margin-left: 15px !important;
          margin-top: 10px;
          padding: 3px ;
        }
        input{
          width: 140px !important;
        }
      }
      #searchSubmit{
        width: 320px !important;

      }
    }


    input{
      margin: 10px 0;
    }
    button{
      margin-left: 0 !important;
      img{
        transform: rotate(90deg);
      }
    }
  }
}